@import "ui-variables";
@import "colorio-variables";
@import "helpers";

.colorio__box {
  width: 43em;
  height: 100vh;
  font-size: 10.5px;
  overflow: auto;
}

.colorio__form {
  position: relative;
  z-index: 1;
  padding: 1.5em 3rem;
  text-align: center;
}

.colorio__input {
  padding: .5em 1em;
  font-size: 1.5em;
  width: 60%;
  max-width: 300px;
  background: @background-color-selected;
  border: 1px solid @base-border-color;

  &::-webkit-input-placeholder {
    .dull-color(@background-color-selected, 20%);
  }
}

.colorio__history {
  .reset-list;
  display: flex;
  width: 60%;
  max-width: 300px;
  padding: 0 2px;
  margin: 0 auto;
}

.colorio__history-color {
  width: .7em;
  height: .7em;
  margin-bottom: -.7em;
}

.colorio__section {
  margin: 1em 0;
  clear: left;
}

.colorio__section--inline {
  float: left;
  clear: none;
  display: block;
  width: 33.33333%;
}

.colorio__section--inline .colorio__cards {
  display: block;
}

.colorio__headline {
  padding: 0 @gutter;
}

.colorio__cards {
  .reset-list;
  display: flex;
  flex-wrap: wrap;
  float: none;
}

.colorio__card__box {
  flex: 0 0 33.33333%;
  box-sizing: border-box;
  padding: @gutter;
}

.colorio__card__color {
  height: 10vh;
  width: 100%;
  cursor: pointer;
}

.colorio__card__data-list {
  .reset-list;
  padding: @gutter;
}

.colorio__card__data-item .icon {
  &:before {
    .dull-color(@background-color-selected);
    transform: scale(.9);
    transition: .2s @easing;
  }

  &:hover:before {
    color: @text-color-highlight;
  }

  &--success:before {
    .success-color(@background-color-selected);
  }
}
